
<div style="display: inline-block;">
    <div>
        <div class="block ng-scope" id="ele{{ $n }}" data-ng-repeat="$n in [0, 1, 2, 3, 4, 5]"></div>
        <!-- <div class="block"> <div class="player"><div class="player-inner"></div></div> </div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div> -->
    </div>
    <div style="width: 62px; float: left;">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
    <div style="width: 62px; float: right;">
    	<div class="block ng-scope" id="ele{{ $n }}" data-ng-repeat="$n in [6, 7, 8, 9]"></div>
        <!-- <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div> -->
    </div>
    <div style="clear: both;"></div>
    <div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
</div>